{% set current_url = 'screenshots.html' %}
{% extends "_header.jinja" %}
{% block title %}
Screenshots - PySolFC Solitaire
{% endblock %}
{% block body %}
<h1>Screenshots</h1>
<figure>
<img alt="(screenshot)" src="img/PySolFC-Fedora-25-Xfce--shlomif.png" />
<figcaption>PySolFC with TTk and the solver dialog</figcaption>
</figure>
<figure>
<img alt="(screenshot)" src="img/freecell-tk.png" />
<figcaption>PySolFC with old Tk look &amp; feel</figcaption>
</figure>
<figure>
<img alt="(screenshot)" src="img/freecell-ttk.png" />
<figcaption>PySolFC with TTk</figcaption>
</figure>
<figure>
<img alt="(screenshot)" src="img/freecell-pil.png" />
<figcaption>PySolFC with TTk and <abbr title="Python Imaging Library">PIL</abbr>-1.1.7</figcaption>
</figure>
{% endblock %}
